body {
    background-color: black;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    color: white;
}

.button_11 {
    text-align: center;
    margin-top: 20px;
}

#button_1:hover {
    transform: scale(1.1);
    transition: all ease-in-out 1s;
}

#video_1 {
    width: 100%;
    height: 100%;
}

.video {
    width: 100%;
    height: 100%;
}

#wait_1 {
    text-align: center;
}

#header_1 {
    overflow-x: hidden;
}

.light {
    display: inline-block;
    display: none;
}

.focus {
    display: inline-block;
}